{{!
template for displaying a checker result row in the block result table
- the checkername_display is a short description of the checker
- an icon is displayed if the checker was successful
}}
<tr>
    <td class="col checker">
        <a href="{{url}}">
            {{checkername_display}}
        </a>
    </td>
    <td class="col result">
        {{#successful}}
            <i class="fa fa-check-circle text-success"></i>
        {{/successful}}
        {{^successful}}
            <i class="fa fa-times-circle text-danger"></i>
        {{/successful}}
    </td>
    <td class="col rerun">
        {{{rerun_html}}}
    </td>
</tr>
