{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_course_checker/check_block_rerun

    This template renders the re-run task button
    - depending if task is already finished
    - depending if check is enabled or not

    Example context (json):
    {
        "canrerun": false,
        "isenabled": false,
        "action": "submit",
        "checker": "checker_links",
        "course_id": 1,
        "token": "abc1234"
    }
}}

{{#canrerun}}
<form action="{{action}}" method="post">
    <input type="hidden" name="checker" value="{{checker}}">
    <input type="hidden" name="courseid" value="{{course_id}}">
    <input type="hidden" name="token" value="{{token}}">
    {{! See https://fontawesome.com/cheatsheet?from=io for the HTML Code of "REDO" }}
    <input type="submit" class="btn btn-secondary fa-input" value="&#xf01e;" title="{{#str}}rerun_col_block_header, block_course_checker{{/str}}">
</form>
{{/canrerun}}

{{^canrerun}}
    {{#isenabled}}
        <div class="btn btn-secondary disabled" title="{{#str}}rerun_disabled_col_block_header, block_course_checker{{/str}}">
            <i class="fa fa-redo"></i>
        </div>
    {{/isenabled}}
    {{^isenabled}}
        <div class="btn btn-secondary disabled" title="{{#str}}result_checker_disabled, block_course_checker{{/str}}">
            <i class="fa fa-redo"></i>
        </div>
    {{/isenabled}}
{{/canrerun}}