{{!
template for displaying a checker result row in the block result table
- the pluginname_display is a short description of the checker
- an icon is displayed if the checker was successful
}}
<tr>
    <td class="col checker">{{pluginname_display}}</td>
    <td class="col result">
        {{#successful}}
            <i class="fa fa-check-circle text-success"></i>
        {{/successful}}
        {{^successful}}
            <i class="fa fa-times-circle text-danger"></i>
        {{/successful}}
    </td>
</tr>
