<hr>
<b>{{automaticcheckstring}}:</b><br>
{{#automaticcheck}}
    {{#userdate}} {{automaticcheck}}, {{#str}} strftimedatetime {{/str}}{{/userdate}}
{{/automaticcheck}}
{{^automaticcheck}}
    No date found. <!-- TODO translate this. -->
{{/automaticcheck}}
<br>
<b>{{humancheckstring}}:</b><br>
{{#humancheck}}
    {{#userdate}} {{humancheck}}, {{#str}} strftimedatetime {{/str}}{{/userdate}}
{{/humancheck}}
{{^humancheck}}
    No date found. <!-- TODO translate this. -->
{{/humancheck}}
