{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_course_checker/footer

    This template renders the footer of the block

    Example context (json):
    {
        "showdetailsbutton": true,
        "details": "https://moodlesite/blocks/course_checker/details.php?id=1",
        "arecheckersenabled": true,
        "runscheduled": false,
        "runbtn": "<input type=\"submit\" value=\"Check this course\" class=\"btn btn-primary btn-block\">",
        "humancheckbtn": "<input class=\"btn btn-secondary btn-block\" type=\"submit\" title=\"Update human review\">",
        "automaticcheck": 1570805592,
        "humancheck": 1570805592,
        "humanreason": "Test check",
        "lastactivityedition": 1570805592,
        "lastactivityedition_notimestamp": "No date found"
    }
}}

{{!
buttons to run the checkers and to display the result page
}}

<div class="course_checker footer">
    <div class="actions d-flex">
        {{#showdetailsbutton}}
            <a href="{{details}}" class="btn btn-secondary">{{#str}} resultpagegoto, block_course_checker {{/str}}</a>
        {{/showdetailsbutton}}
        {{#arecheckersenabled}}
            {{^runscheduled}}
                {{{runbtn}}}
            {{/runscheduled}}
            {{#runscheduled}}
                <p>{{#str}} runcheckbtn_already, block_course_checker {{/str}}</p>
            {{/runscheduled}}
        {{/arecheckersenabled}}
        {{^arecheckersenabled}}
            <p>{{#str}} runcheckbtn_nocheckers, block_course_checker {{/str}}</p>
        {{/arecheckersenabled}}

        {{{humancheckbtn}}}

    </div>

    {{!
    messages about the status of the last run
    }}
    <hr>
    <b>{{#str}} automaticcheck, block_course_checker {{/str}}:</b>
    <br>
    {{#automaticcheck}}
        {{#userdate}} {{automaticcheck}}, {{#str}} strftimedatetime {{/str}}{{/userdate}}
    {{/automaticcheck}}
    {{^automaticcheck}}
        {{#str}} automaticcheckempty, block_course_checker {{/str}}
    {{/automaticcheck}}
    <br>
    <b>{{#str}} humancheck, block_course_checker {{/str}}</b><br>
    {{#humancheck}}
        {{#userdate}} {{humancheck}}, {{#str}} strftimedatetime {{/str}}{{/userdate}}

        {{#humanreason}}
            <p class="humanreason-label">{{#str}}humancheck_reason, block_course_checker{{/str}}</p>
            <div class="humanreason-container">
                {{humanreason}}
            </div>
        {{/humanreason}}

    {{/humancheck}}
    {{^humancheck}}
        {{#str}} humancheckempty, block_course_checker {{/str}}
    {{/humancheck}}
    <br>
    <b>{{#str}}lastactivityedition, block_course_checker{{/str}}:</b><br>
    {{#lastactivityedition}}
        {{#userdate}} {{lastactivityedition}}, {{#str}} strftimedatetime {{/str}}{{/userdate}}
    {{/lastactivityedition}}
    {{^lastactivityedition}}
        {{#str}} lastactivityedition_notimestamp, block_course_checker {{/str}}
    {{/lastactivityedition}}
</div>