<hr>
<b>{{#str}} automaticcheck, block_course_checker {{/str}}:</b>
<br>
{{#automaticcheck}}
    {{#userdate}} {{automaticcheck}}, {{#str}} strftimedatetime {{/str}}{{/userdate}}
{{/automaticcheck}}
{{^automaticcheck}}
    {{#str}} automaticcheckempty, block_course_checker {{/str}}
{{/automaticcheck}}
<br>
<b>{{#str}} humancheck, block_course_checker {{/str}}</b><br>
{{#humancheck}}
    {{#userdate}} {{humancheck}}, {{#str}} strftimedatetime {{/str}}{{/userdate}}
{{/humancheck}}
{{^humancheck}}
    {{#str}} humancheckempty, block_course_checker {{/str}}
{{/humancheck}}
