{{!
template for rendering the block
}}
{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_course_checker/full_block

    This template renders the block

    Example context (json):
    {
        "hasresults": true,
        "groupedresults": false
    }
}}

<div class="course_checker course_checker_block">
    {{#hasresults}}
    <table class="table table-responsive">
        <thead>
            <tr>
                <th scope="col">{{#str}} checker_col_block_header, block_course_checker {{/str}}</th>
                <th scope="col">{{#str}} result_col_block_header, block_course_checker {{/str}}</th>
                <th scope="col">{{#str}} rerun_col_block_header, block_course_checker {{/str}}</th>
            </tr>
        </thead>
        {{!
        when the check was ever run and results exist
        }}
        <tbody>
        {{#groupedresults}}
            {{#results}}
                {{{output}}}
            {{/results}}
        {{/groupedresults}}
        </tbody>
    </table>
    {{/hasresults}}

    {{!
    message when no check was yet run
    }}
    {{^groupedresults}}
        {{#str}} noresults, block_course_checker {{/str}}
    {{/groupedresults}}
</div>