{{#groupedresults}}
    <div class="mt-2">
        <h4 class="mb-1 pb-2 text-muted text-capitalize">{{{group}}}</h4>
        <div class="mt-1 pt-2 container-fluid">
            {{#results}}
                {{{result}}}
            {{/results}}
        </div>
    </div>
{{/groupedresults}}

{{^groupedresults}}
    No results yet <!-- TODO translate this. -->
{{/groupedresults}}

<!-- TODO translate -->
<a class="btn-primary btn" href="{{back}}">Back to course</a>